In [1]:
import pandas as pd

In [3]:
#Task 1

stats = pd.read_csv('keywords.csv')
stats.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [6]:
stats['word_count'] = stats['keyword'].apply(lambda x: len(x.split(' ')))

In [12]:
def geo_class (row):
    for x in range(row['word_count']):
        if row['keyword'].split(' ')[x]=='москва' or row['keyword'].split(' ')[x]=='тула' or row['keyword'].split(' ')[x]=='ярославль':
            region = 'центр'
        elif row['keyword'].split(' ')[x]=='петербург' or row['keyword'].split(' ')[x]=='псков' or row['keyword'].split(' ')[x]=='мурманск':
            region = 'Северо-Запад'
        elif row['keyword'].split(' ')[x]=='владивосток' or row['keyword'].split(' ')[x]=='сахалин' or row['keyword'].split(' ')[x]=='хабаровск':
            region = 'Дальний Восток'    
        else:
            region = 'undefined'
    return region

In [13]:
stats['region'] = stats.apply(geo_class, axis=1)
stats

,keyword,shows,word_count,region
0,вк,64292779,1,undefined
1,одноклассники,63810309,1,undefined
2,порно,41747114,1,undefined
3,ютуб,39995567,1,undefined
4,вконтакте,21014195,1,undefined
5,одноклассники моя страница,19976138,3,undefined
6,майл,15144673,1,undefined
7,авито,14786593,1,undefined
8,переводчик,14453469,1,undefined
9,яндекс,13344734,1,undefined
10,сбербанк онлайн,10725673,2,undefined
11,mail,7687204,1,undefined
12,игры,6075762,1,undefined
13,youtube,5729958,1,undefined
14,вконтакте моя страница,5971451,3,undefined
15,секс,5431732,1,undefined
16,гугл,5175471,1,undefined
17,dr,4880955,1,undefined
18,алиэкспресс,4879645,1,undefined
19,рамблер,4540421,1,undefined
20,фильмы 2016,4486635,2,undefined
21,погода,4344510,1,undefined
22,vk,4330448,1,undefined
23,ютуб видеохостинг,4215267,2,undefined
24,дойки,4133424,1,undefined
25,одноклассники социальная сеть,4018230,3,undefined
26,мультики,3866664,1,undefined
27,контакт,3815111,1,undefined
28,фейсбук,3669993,1,undefined
29,порно видео,3858938,2,undefined
...,...,...,...,...
99970,pornozud,3631,1,undefined
99971,i bankuralsib личный кабинет,3640,4,undefined
99972,дск 1 новостройки официальный сайт,3732,5,undefined
99973,медиа маркт оренбург официальный сайт,3689,5,undefined
99974,кот саймона все серии подряд без остановки,3644,7,undefined
99975,10 минутная почта,3632,3,undefined
99976,бэтмен против дракулы мультфильм 2005,3631,5,undefined
99977,порно русское видео,180168,3,undefined
99978,стрижка на короткие волосы,3623,4,undefined
99979,балерина смотреть,8794,2,undefined
99980,познакомиться с девушкой,3620,3,undefined
99981,подарок на день рождения своими руками,5938,6,undefined
99982,кладоискатели,3630,1,undefined
99983,марципан что это,3899,3,undefined
99984,бровченко,3630,1,undefined
99985,спирея,3630,1,undefined
99986,нерка,3630,1,undefined
99987,ирригатор купить,4490,2,undefined
99988,пиодермия,3630,1,undefined
99989,проверить iphone по imei,3891,4,undefined
99990,сколько лет обаме,3799,3,undefined
99991,сергей жорин,4056,2,undefined
99992,остаться в живых 5 сезон,3696,5,undefined
99993,петростат официальный сайт,3634,3,undefined
99994,мк газета свежий номер,3750,4,undefined
99995,эльдорадо старый оскол,3705,3,undefined
99996,frigate для firefox,3630,3,undefined
99997,укрсиб,3630,1,undefined
99998,погода в ялте на неделю,3688,5,undefined
99999,ггму,3630,1,undefined

In [14]:
stats_filter = stats[stats['region']!='undefined']
stats_filter

,keyword,shows,word_count,region
127,авито москва,979292,2,центр
370,авито ру санкт петербург,425134,4,Северо-Запад
849,авито ярославль,209581,2,центр
1063,фарпост владивосток,176951,2,Дальний Восток
1236,банк санкт петербург,174375,3,Северо-Запад
1259,москва,153050,1,центр
1346,санкт петербург,144232,2,Северо-Запад
1396,гисметео москва,140279,2,центр
1482,госуслуги москва,133061,2,центр
1579,авито тула,126168,2,центр
1682,погода москва,151701,2,центр
2153,авито псков,98931,2,Северо-Запад
2175,дром хабаровск,98361,2,Дальний Восток
2398,авито мурманск,89787,2,Северо-Запад
2806,циан недвижимость москва,78729,3,центр
2974,авто ру санкт петербург,74918,4,Северо-Запад
3206,дром владивосток,73084,2,Дальний Восток
3275,100 сп владивосток,76418,3,Дальний Восток
3687,авито хабаровск,63736,2,Дальний Восток
3786,метро москва,68024,2,центр
5013,фк спартак москва,49699,3,центр
5434,авто ру москва,46991,3,центр
5512,схема метро москва,62915,3,центр
5642,погода псков,47395,2,Северо-Запад
5671,avito санкт петербург,44214,3,Северо-Запад
5700,холодильник ру интернет магазин москва,44385,5,центр
5768,спартак москва,43656,2,центр
5858,владивосток,43038,1,Дальний Восток
6075,ярославль,41720,1,центр
6260,фарпост хабаровск,40962,2,Дальний Восток
...,...,...,...,...
92799,расписание электричек александров москва,7285,4,центр
92843,проститутки хабаровск,4120,2,Дальний Восток
93351,галерея торговый центр санкт петербург,4364,5,Северо-Запад
93406,биглион санкт петербург,3885,3,Северо-Запад
93872,биглион хабаровск,3890,2,Дальний Восток
94476,сантехкомплект официальный сайт москва,3877,4,центр
95326,гостиница санкт петербург,4241,3,Северо-Запад
95543,радио говорит москва,4441,3,центр
95572,точное время владивосток,4142,3,Дальний Восток
95597,bn ru санкт петербург,3833,4,Северо-Запад
96233,автосуши тула,3812,2,центр
96245,вакансии псков,4085,2,Северо-Запад
96427,хостел москва,4193,2,центр
96681,налоговая инспекция по адресу проживания москва,3737,6,центр
96746,афиша ярославль,4033,2,центр
96820,рп5 тула,3750,2,центр
97199,запись на прием к врачу москва,3756,6,центр
97349,спорт и отдых мурманск,3791,4,Северо-Запад
97382,комсомольская правда москва,3708,3,центр
97413,kassir ru санкт петербург,3723,4,Северо-Запад
97514,расписание электричек владимир москва,8480,4,центр
97606,торпедо москва,3729,2,центр
97613,би порт мурманск,3723,3,Северо-Запад
98272,управляющая компания жкх по адресу москва,3745,6,центр
98388,пилюли ру интернет аптека москва,3690,5,центр
98679,геи москва,4205,2,центр
98726,ледовый дворец санкт петербург,3772,4,Северо-Запад
99204,bileter ru санкт петербург,3661,4,Северо-Запад
99890,яндекс метро москва,4548,3,центр
99922,авто ру ярославль,3712,3,центр

In [15]:
stats['region'].unique()

array(['undefined', 'центр', 'Северо-Запад', 'Дальний Восток'],
      dtype=object)

In [16]:
# Task 2

stats = pd.read_csv('ratings.csv')
stats.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [17]:
def define_class(row):
    if row['rating'] <= 2.0:
        class_name = 'низкий рейтинг'
    elif row['rating'] <= 4.0 and row['rating'] > 2.0:
        class_name = 'средний рейтинг'
    else:
        class_name = 'высокий рейтинг'
    return class_name

In [18]:
stats['class_categ'] = stats.apply(define_class, axis=1)
stats.head()

   userId  movieId  rating   timestamp      class_categ
0       1        2     3.5  1112486027  средний рейтинг
1       1       29     3.5  1112484676  средний рейтинг
2       1       32     3.5  1112484819  средний рейтинг
3       1       47     3.5  1112484727  средний рейтинг
4       1       50     3.5  1112484580  средний рейтинг

In [20]:
stats['class_categ'].unique()

array(['средний рейтинг', 'высокий рейтинг', 'низкий рейтинг'],
      dtype=object)

In [25]:
stats_filter = stats[stats['class_categ']=='высокий рейтинг']
stats_filter.head()

     userId  movieId  rating   timestamp      class_categ
30        1     1196     4.5  1112484742  высокий рейтинг
31        1     1198     4.5  1112484624  высокий рейтинг
131       1     4993     5.0  1112484682  высокий рейтинг
142       1     5952     5.0  1112484619  высокий рейтинг
158       1     7153     5.0  1112484633  высокий рейтинг

In [26]:
stats_filter['rating'].unique()

array([4.5, 5. ])

In [27]:
# Task 3

ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [28]:
ratings_count = ratings.groupby('userId').count().reset_index()[['userId', 'movieId']]
ratings_count.head()

   userId  movieId
0       1       20
1       2       76
2       3       51
3       4      204
4       5      100

In [29]:
film_fans_ratings_count = ratings_count[ ratings_count['movieId'] >= 100 ]
film_fans_ratings_count.head()

    userId  movieId
3        4      204
4        5      100
7        8      116
14      15     1700
16      17      363

In [30]:
film_fans_user_ids = film_fans_ratings_count['userId'].tolist()

In [31]:
fans_data = ratings[ ratings['userId'].isin(film_fans_user_ids) ]
fans_data.head()

     userId  movieId  rating  timestamp
147       4       10     4.0  949810645
148       4       34     5.0  949919556
149       4      112     5.0  949810582
150       4      141     5.0  949919681
151       4      153     4.0  949811346

In [32]:
fans_data_group = fans_data.groupby('userId').agg([min,max])

In [33]:
import time
from datetime import date

In [34]:
from datetime import datetime

In [42]:
def define_day(row):
    return (datetime.fromtimestamp(row['timestamp']['max']) - datetime.fromtimestamp(row['timestamp']['min'])).days

In [43]:
fans_data_group['days'] = fans_data_group.apply(define_day, axis=1)
fans_data_group.head()

       movieId         rating        timestamp              days
           min     max    min  max         min         max
userId
4           10    4006    1.0  5.0   949778714   949982274     2
5            3   48385    1.5  5.0  1163373044  1163375145     0
8           32   44004    0.5  5.0  1154389340  1154474527     0
15           1  161155    0.5  5.0   997937239  1469330735  5455
17           6   34437    0.5  5.0  1127468587  1127476640     0

In [41]:
fans_data_group['days'].unique()

array([   2,    1,    0, 5455,   15,  212,  234, 1340,   50,   68,  694,
        184, 1577,   99, 1760,   34, 2553,  261,  253,  227,    3,    7,
        106, 1229, 1317,   29,  164,  888,  292,  123, 2601,  919,  502,
        188,  362,   38, 2187,  257,    8,  708,  425, 2110,  683,   18,
         22,  285,   11, 1295,  377,  667,    5,   70,  426, 1359,  143,
         35, 1692,  519, 2898,  818,   28, 1347,  324, 1413, 1168,  567,
         41, 1997,   40,  126, 5969,  210,  715, 3269,    9,  299,  421,
       2369,  189,  151, 1290, 5515,  710,  338,  280,  419,   71, 2030,
        685,   20,   51,  390,   87,  773,   56,  290,  384,  399, 2619,
        906,  128,   52,   24, 5189,   48,   25,   26,  171, 5807,  194,
        701,  394,  691,   17,  168,   63, 1445, 2006,  913,  587,  440,
        522,  225,  743,   27, 5295,  317, 3730, 1557,  365, 1136,  626,
        130], dtype=int64)